name: Ninja-Jr Builds (All boards)

on:
  workflow_dispatch:
    inputs:
      target_branch:
        description: 'Branch to build from'
        required: true
        default: 'dev'
        type: string
      version_name:
        description: 'Version name (Ninja-Jr 1.0, Ninja-Jr dev, etc)'
        required: true
        default: 'Ninja-Jr dev'
        type: string
  push:
    branches:
      - dev
    tags:
      - '*'

jobs:
  compile_sketch:
    name: Build ${{ matrix.board.env }}
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
      VERSION_NAME: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.version_name || github.ref == 'refs/heads/main' && 'Ninja-Jr 1.0' || github.ref == 'refs/heads/dev' && 'Ninja-Jr dev' || github.ref_type == 'tag' && github.ref_name || 'Ninja-Jr' }}
    strategy:
      fail-fast: false
      matrix:
        board:
          - { env: "m5stack-cardputer",               family: "ESP32-S3",}
          - { env: "m5stack-sticks3",                 family: "ESP32-S3",}
          - { env: "m5stack-cplus2",                  family: "ESP32",}
          - { env: "m5stack-cplus1_1",                family: "ESP32",}
          - { env: "LAUNCHER_m5stack-cplus1_1",       family: "ESP32",}
          - { env: "m5stack-core2",                   family: "ESP32",}
          - { env: "m5stack-core16mb",                family: "ESP32",}
          - { env: "m5stack-core4mb",                 family: "ESP32",}
          - { env: "m5stack-cores3",                  family: "ESP32-S3",}
          - { env: "esp32-s3-devkitc-1",              family: "ESP32-S3",}
          - { env: "esp32-c5",                        family: "ESP32-C5",}
          - { env: "esp32-c5-tft",                    family: "ESP32-C5",}
          - { env: "CYD-2432S028",                    family: "ESP32",}
          - { env: "CYD-2USB",                        family: "ESP32",}
          - { env: "CYD-2432W328C",                   family: "ESP32",}
          - { env: "CYD-2432W328C_2",                 family: "ESP32",}
          - { env: "CYD-2432W328R-or-S024R",          family: "ESP32",}
          - { env: "CYD-3248S035R",                   family: "ESP32",}
          - { env: "CYD-3248S035C",                   family: "ESP32",}
          - { env: "LAUNCHER_CYD-2432W328R-or-S024R", family: "ESP32",}
          - { env: "LAUNCHER_CYD-2432S028",           family: "ESP32",}
          - { env: "LAUNCHER_CYD-2USB",               family: "ESP32",}
          - { env: "LAUNCHER_CYD-2432W328C",          family: "ESP32",}
          - { env: "LAUNCHER_CYD-3248S035R",          family: "ESP32",}
          # - { env: "LAUNCHER_CYD-3248S035C",          family: "ESP32",}
          - { env: "lilygo-t-embed-cc1101",           family: "ESP32-S3",}
          - { env: "lilygo-t-embed",                  family: "ESP32-S3",}
          - { env: "lilygo-t-deck",                   family: "ESP32-S3",}
          - { env: "lilygo-t-watch-s3",               family: "ESP32-S3",}
          - { env: "lilygo-t-deck-pro",               family: "ESP32-S3",}
          - { env: "lilygo-t-display-s3",             family: "ESP32-S3",}
          - { env: "lilygo-t-display-s3-touch",       family: "ESP32-S3",}
          - { env: "lilygo-t-display-s3-mmc",         family: "ESP32-S3",}
          - { env: "lilygo-t-display-s3-touch-mmc",   family: "ESP32-S3",}
          - { env: "lilygo-t-display-S3-pro",         family: "ESP32-S3",}
          - { env: "lilygo-t-display-ttgo",           family: "ESP32",}
          - { env: "lilygo-t-hmi",                    family: "ESP32-S3",}
          - { env: "lilygo-t-lora-pager",             family: "ESP32-S3",}
          - { env: "smoochiee-board",                 family: "ESP32-S3",}
          - { env: "reaper",                          family: "ESP32-S3",}
          - { env: "Phantom_S024R",                   family: "ESP32",}
          - { env: "LAUNCHER_Phantom_S024R",          family: "ESP32",}
          - { env: "Marauder-Mini",                   family: "ESP32",}
          - { env: "LAUNCHER_Marauder-Mini",          family: "ESP32",}
          - { env: "Awok-Mini",                       family: "ESP32",}
          - { env: "Marauder-v7",                     family: "ESP32",}
          - { env: "LAUNCHER_Marauder-v7",            family: "ESP32",}
          - { env: "Marauder-V4-V6",                  family: "ESP32",}
          - { env: "Marauder-v61",                    family: "ESP32",}
          - { env: "LAUNCHER_Marauder-V4-V6",         family: "ESP32",}
          - { env: "LAUNCHER_Marauder-v61",           family: "ESP32",}
          - { env: "Awok-Touch",                      family: "ESP32",}
          - { env: "WaveSentry-R1",                   family: "ESP32",}
          - { env: "LAUNCHER_WaveSentry-R1",          family: "ESP32",}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.target_branch || github.ref }}

      - name: Install build deps (multilib)
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends gcc-multilib libc6-dev-i386
          
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          pip install requests esptool intelhex
      - name: Cache PlatformIO
        uses: actions/cache@v4
        with:
          path: ~/.platformio
          key: Bruce-platformio-${{ hashFiles('**/platformio.ini') }}
          restore-keys: Bruce-platformio-

      - name: Restore PIO Build Cache
        uses: actions/cache/restore@v4
        with:
          path: ${{ github.workspace }}/.pio
          key: Bruce-pio-${{ matrix.board.env }}-${{ github.run_id }}-${{ github.run_attempt }}
          restore-keys: |
            Bruce-pio-${{ matrix.board.env }}-
      - name: Install PlatformIO Core
        run: |
          pip install platformio
          sed -i "s/-DBRUCE_VERSION=/-DBRUCE_VERSION='\"${{ env.VERSION_NAME }}\"' ; /g" ./platformio.ini
          GIT_HASH=$(git describe --always --dirty)
          sed -i "s|-DGIT_COMMIT_HASH='\"Homebrew\"'|!echo '-DGIT_COMMIT_HASH=\\\\\\\\\"${GIT_HASH}\\\\\\\\\"'|g" ./platformio.ini
      - name: Run Compile
        run: |
          platformio run -e ${{ matrix.board.env }}
      - name: Save PIO Build Cache
        uses: actions/cache/save@v4
        with:
          path: ${{ github.workspace }}/.pio
          key: Bruce-pio-${{ matrix.board.env }}-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Bruce-${{ matrix.board.env }}
          path: Bruce-*.*
          retention-days: 5
          if-no-files-found: ignore

  post_compile_steps:
    name: Update Releases
    runs-on: ubuntu-latest
    environment: github_release
    needs: compile_sketch
    if: always() && (github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.ref_type == 'tag')
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: 'Bruce-*'
          merge-multiple: true
          path: artifacts

      - name: Ensure releases exist and get IDs
        id: get_release
        uses: actions/github-script@v7
        with:
          script: |
            let betaId;
            try {
              const betaResp = await github.rest.repos.getReleaseByTag({
                owner: context.repo.owner,
                repo: context.repo.repo,
                tag: 'betaRelease'
              });
              betaId = betaResp.data.id;
            } catch (error) {
              if (error.status === 404) {
                const newBeta = await github.rest.repos.createRelease({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  tag_name: 'betaRelease',
                  name: 'betaRelease - Ninja-Jr builds',
                  prerelease: true
                });
                betaId = newBeta.data.id;
              } else {
                throw error;
              }
            }
            let lastId;
            try {
              const lastResp = await github.rest.repos.getReleaseByTag({
                owner: context.repo.owner,
                repo: context.repo.repo,
                tag: 'lastRelease'
              });
              lastId = lastResp.data.id;
            } catch (error) {
              if (error.status === 404) {
                const newLast = await github.rest.repos.createRelease({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  tag_name: 'lastRelease',
                  name: 'lastRelease - Ninja-Jr builds',
                  prerelease: true
                });
                lastId = newLast.data.id;
              } else {
                throw error;
              }
            }
            core.setOutput('beta', betaId.toString());
            core.setOutput('last', lastId.toString());
      - name: Delete old betaRelease assets
        uses: actions/github-script@v6
        with:
          script: |
            const release_id = ${{ steps.get_release.outputs.beta }};
            const assets = await github.rest.repos.listReleaseAssets({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: release_id
            });
            for (const asset of assets.data) {
              await github.rest.repos.deleteReleaseAsset({
                owner: context.repo.owner,
                repo: context.repo.repo,
                asset_id: asset.id
              });
            }
      - name: Upload new betaRelease assets
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.SYNC_PAT }}
          name: betaRelease - Ninja-Jr builds
          tag_name: betaRelease
          prerelease: true
          files: artifacts/Bruce-*.bin
          fail_on_unmatched_files: false
          make_latest: false
          generate_release_notes: false

      - name: Delete old lastRelease assets
        uses: actions/github-script@v6
        if: github.ref_type == 'tag'
        with:
          script: |
            const release_id = ${{ steps.get_release.outputs.last }};
            const assets = await github.rest.repos.listReleaseAssets({
              owner: context.repo.owner,
                repo: context.repo.repo,
                release_id: release_id
            });
            for (const asset of assets.data) {
              await github.rest.repos.deleteReleaseAsset({
                owner: context.repo.owner,
                repo: context.repo.repo,
                asset_id: asset.id
              });
            }
      - name: Upload new lastRelease assets
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          token: ${{ secrets.SYNC_PAT }}
          name: lastRelease - Ninja-Jr builds
          tag_name: lastRelease
          prerelease: true
          files: artifacts/Bruce-*.bin
          fail_on_unmatched_files: false
          make_latest: false
          generate_release_notes: false

  create_release:
    runs-on: ubuntu-latest
    environment: github_release
    needs: [compile_sketch]
    if: always() && github.ref_type == 'tag'
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: 'Bruce-*'
          merge-multiple: true
          path: artifacts

      - name: Create Release Ninja-Jr
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.SYNC_PAT }}
          name: Bruce Release Ninja-Jr
          tag_name: ${{ github.ref_name }}
          generate_release_notes: true
